@import '~antd/dist/antd.css';


.content {
  margin-top: 15vh;
  text-align: center;
  color: #333;
  overflow: hidden;
}


.anticon {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  font-size: 30px;
}

p {
  padding-bottom: 2.5vh;
}

img {
  border-radius: 50%;
}
